
* {
    box-sizing: border-box;
    font-family: "Montserrat", Helvetica, sans-serif;
}
  
/* Basic body styling */
body {

  line-height: 1.6;
  padding-left: 20px;
  padding-right: 20px;
}
.background{
  background-color: #E5D1AF;
}
/* Basic header formatting*/
h2, h3, h4, h5, h6 {
    font-family: 'Inknut Antiqua', serif;
    
    font-weight: 600; 
    color: #473334;
}



.row{
    border-color:#000;
    border-width: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 50px;
}
.content {

    text-align: center;
    font-family: "Montserrat";
    background-color: #E5D1AF;
    padding: 10px;
    padding-top: 60px;
}

/*Top Nav for all pages*/
.topnav a {
    
    color: #FEF9E3;
    background-color: #A2141C;
    height: 55px;
    padding: 14px 16px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;

  }
  

  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #fff;
    color: black;
  }




@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}
.text-center{
  color: #6C1D20;
  font-weight: 800;
  padding-bottom: 30px;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
}
/*Been using thse normal containers for some paddings until i properly figured out how to space items*/
.container{
  padding: 20px;
}

/*Used this container for navbar to hold buttons*/
.container-sm{
  
  background-color: #A2141C;
}
/*Used this conainer for Every pages title*/
.container-md{
  background-color: #E5D1AF;
  padding-bottom: 10px;
  padding-top: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
/*Main Large container for every page*/
.container-lg{

  border-radius: 20px;
  text-align: center;
  font-family: "Montserrat";
  background-color: #FEF9E3;
  padding-bottom: 120px;
  padding-top: 40px;
  height: auto;
  
}

/*Smaller image on story page*/
.image{
  width: 60%;
  border-radius: 20px;
  
}
/*Hero image on sotry page*/
img.w-100{
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 40px;
}
/*Buttons on Sign in page*/
button.btn.btn-primary{

  background-color: #A2141C;
  border-color: #A2141C;
  color: #FEF9E3;
  font-weight: 500;
  
  
  
}
div.input-group.mb-3{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  
}
/*Body texts for Sign in and Contact page*/
.body-text{

  padding-left: 60px;
  padding-right: 60px;
  font-weight: 600;
}

.body-text2{
  padding-left: 60px;
  padding-top: 20px;
}


/* Headings */
h1.title{
    
    font-family: "Inknut Antiqua", serif;;
    color: #6C1D20;
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 55px;
}

/*Title in body container*/
h2.subtitle{
  font-weight: 600;
  font-size: 30px;
}

h2.text-center{
  padding-bottom: 10px;
}
/*Story page title*/
h2.story-title{
  font-family: "Inknut Antiqua";
  font-weight: 800;
  color: #6C1D20;
  padding-bottom: 30px;
}
p{
  color: 	#383838 ;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  padding-left: 60px;
}
/* Paragraphs different classes for different pages */
p.info {
  
    padding-top: 30px;
    padding-left: 300px;
    margin-left: auto;
    margin-right: auto;
}

p.foot {
  font-weight: 600px;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 30px;
  text-align: left;
  margin-bottom: 10px;
  color: #FEF9E3;
}

p.story{
  line-height: 180%;
  font-weight: 500;
  padding-left: 150px;
  padding-right: 150px;
  width: 100% ;
  padding-bottom: 30px;
}

/* Links */
a {
    color: #0066cc;
    text-decoration: none;
}

.footer{
  position: fixed;
  width: 100%;
  height: 60px;
  padding-bottom: 10px;
  background-color: #A2141C;
  color: #FEF9E3;
  left: 0;
  bottom: 0;
  font-weight: 500;
}


.footer.container-md{
  background-color: #A2141C;
}
.inknut-antiqua-light {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inknut-antiqua-regular {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inknut-antiqua-medium {
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .inknut-antiqua-semibold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .inknut-antiqua-bold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inknut-antiqua-extrabold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .inknut-antiqua-black {
    font-family: "Inknut Antiqua", serif;
    font-weight: 900;
    font-style: normal;
  }
  